# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
package-lock.json
videos/GC-1.mp4
videos/GC-59.mp4
videos/GC-92.mp4
videos/GC-93.mp4
videos/GC-94.mp4
videos/GC-95.mp4
videos/GC-96.mp4
videos/GC-97.mp4
videos/GC-98.mp4
videos/GC-100.mp4
videos/GC-101.mp4
videos/GC-102.mp4
videos/GC-103.mp4
videos/GC-104.mp4
videos/GC-105.mp4
videos/GC-106.mp4
videos/GC-107.mp4
videos/GC-108.mp4
videos/GC-109.mp4
videos/GC-110.mp4
videos/GC-111.mp4
videos/GC-112.mp4
videos/GC-113.mp4
videos/GC-114.mp4
videos/GC-115.mp4
videos/GC-116.mp4
videos/GC-117.mp4
videos/GC-118.mp4
videos/GC-119.mp4
videos/GC-120.mp4
learn.txt
.angular/cache/19.2.19/tradeApp/.tsbuildinfo
.angular/cache/19.2.19/tradeApp/angular-compiler.db
.angular/cache/19.2.19/tradeApp/angular-compiler.db-lock
.angular/cache/19.2.19/tradeApp/vite/deps/_metadata.json
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_common_http.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_common_http.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_common.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_common.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_core.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_core.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_forms.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_forms.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_platform-browser_animations.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_platform-browser_animations.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_platform-browser.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_platform-browser.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_router.js
.angular/cache/19.2.19/tradeApp/vite/deps/@angular_router.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/ag-grid-angular.js
.angular/cache/19.2.19/tradeApp/vite/deps/ag-grid-angular.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/ag-grid-community.js
.angular/cache/19.2.19/tradeApp/vite/deps/ag-grid-community.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-DBKGCY4D.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-DBKGCY4D.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-DN7O54GU.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-DN7O54GU.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-GV6RUXUT.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-GV6RUXUT.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-MIKUYL4T.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-MIKUYL4T.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-OU7HEOLL.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-OU7HEOLL.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-P6U2JBMQ.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-P6U2JBMQ.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-SA3AALDP.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-SA3AALDP.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-WDMUDEB6.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-WDMUDEB6.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-WW7XZ4GR.js
.angular/cache/19.2.19/tradeApp/vite/deps/chunk-WW7XZ4GR.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/ngx-markdown.js
.angular/cache/19.2.19/tradeApp/vite/deps/ngx-markdown.js.map
.angular/cache/19.2.19/tradeApp/vite/deps/package.json
.angular/cache/19.2.19/tradeApp/vite/deps/rxjs.js
.angular/cache/19.2.19/tradeApp/vite/deps/rxjs.js.map
.angular/cache/19.2.19/tradeApp/vite/deps_ssr/_metadata.json
.angular/cache/19.2.19/tradeApp/vite/deps_ssr/package.json
