# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
package-lock.json
videos/GC-1.mp4
videos/GC-59.mp4
videos/GC-92.mp4
videos/GC-93.mp4
videos/GC-94.mp4
videos/GC-95.mp4
videos/GC-96.mp4
videos/GC-97.mp4
videos/GC-98.mp4
videos/GC-100.mp4
videos/GC-101.mp4
videos/GC-102.mp4
videos/GC-103.mp4
videos/GC-104.mp4
videos/GC-105.mp4
videos/GC-106.mp4
videos/GC-107.mp4
videos/GC-108.mp4
videos/GC-109.mp4
videos/GC-110.mp4
videos/GC-111.mp4
videos/GC-112.mp4
videos/GC-113.mp4
videos/GC-114.mp4
videos/GC-115.mp4
videos/GC-116.mp4
videos/GC-117.mp4
videos/GC-118.mp4
videos/GC-119.mp4
videos/GC-120.mp4
learn.txt
.angular/*