<div class="jumbotron jumbotron-fluid " *ngIf='rowData && rowData.length;else spinner'>
  <div class="row m-2">
    <div class="col-sm-5">
      <ul class="list-group m-1">
        <li class="list-group-item list-group-item-success">
          <h3>BB</h3>
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <input class="form-control form-control-lg mt-1" type="text" [(ngModel)]="searchQuery"
        (input)="onSearchInputChange()" placeholder="Search...">
    </div>

    <div class="col-sm-2">
      <button class="btn btn-warning" (click)="onBtnExport()">Download CSV</button>
    </div>
  </div>

  <div class="example-wrapper">
    <ag-grid-angular class="ag-theme-dark" style="height:400px;width: auto" [rowData]="rowData"
      [suppressExcelExport]="true" [rowSelection]="rowSelection" [gridOptions]="gridOptions" [pagination]="true"
      [defaultColDef]="defaultColDef" [paginationPageSize]="paginationPageSize" [columnDefs]="colDefs">
    </ag-grid-angular>
  </div>
  
  <hr>
  <div class="row m-2">
    <div class="col-sm-5">
      <ul class="list-group m-1">
        <li class="list-group-item list-group-item-success">
          <h3>BB Filetered List</h3>
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <input class="form-control form-control-lg mt-1" type="text" [(ngModel)]="searchQuery1"
        (input)="onSearchInputChangeFiltered()" placeholder="Search...">
    </div>

    <div class="col-sm-2">
      <button class="btn btn-warning" (click)="onBtnExportFiltered()">Download CSV</button>
    </div>
  </div>
  <div class="example-wrapper">
    <ag-grid-angular class="ag-theme-dark" style="height: 300px;width: auto" [rowData]="filteredrowData"
      [suppressExcelExport]="true" [rowSelection]="rowSelection" [gridOptions]="gridOptionsfiltered" [pagination]="true"
      [defaultColDef]="defaultColDef" [paginationPageSize]="paginationPageSize" [columnDefs]="colDefs">
    </ag-grid-angular>
  </div>
</div>

<ng-template #spinner>   
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-success" role="status">
     
    </div>
  </div>
</ng-template>


<div>
  Note: when hammer or doji weekly candle touch lower band .next 15mins candle break high take entry for 1:1.5 ratio
</div>
<!-- <div class="row m-2">
  <div class="col-sm-6">
      <div class="card-body">
        <h4>NOTE:</h4> GOD FATHER diff %
        <h4>If + means Above 200 SMA</h4>
        <h4>If - means Below 200 SMA</h4>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="card-body">
        <h4>NOTE:</h4> Daily after 2.30 % (20SMA %)
        <h4>Highest -% take entry for 3-5% target</h4>
      </div>
  </div>
</div> -->