<body  >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand m-1">TradeApp</a>
    <div class="container-fluid"> 
      <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="nav-link active " aria-current="page" routerLink="/BankNifty">Bank Nifty</span>
          </li>
          <li class="nav-item">
            <span class="nav-link " routerLink="/volume-shocker">Volume Shocker</span>
          </li>
          <li class="nav-item">
            <span class="nav-link " routerLink="/openhighlow">Open High Low</span>
          </li>
          <li class="nav-item">
            <span class="nav-link " routerLink="/sma">Simple MA's</span>
          </li>
          <li class="nav-item">
            <span class="nav-link " routerLink="/bb">BB</span>
          </li>
          <!-- <li class="nav-item">
            <span class="nav-link " routerLink="/learn">Fundamental</span>
          </li> -->
        </ul>  
      </div>
    </div>
  </nav> 
  <!-- // CNX200
		// BANKNIFTY
		// NIFTY
		// CNXAUTO
		// CNXIT
		// NIFTYJR
		// SENSEX
		// CNXMETAL -->
    <div class="btn m-1">
      <div *ngIf='isbankNifty != "/BankNifty"'  role="group" aria-label="Basic mixed styles example">
        <button type="button" (click)=refreshdata()  class="btn  m-1 btn-secondary">All Data</button>
        <button type="button" (click)="refreshdata('NIFTY')"  class="btn m-1  btn-danger">Nifty50</button>
        <button type="button" (click)="refreshdata('CNX200')" class="btn m-1  btn-warning">Nifty200</button>
        <button type="button"   (click)="refreshdata('CNX500')" class="btn m-1  btn-success">Nifty500</button>
        <button type="button"   (click)="refreshdata('CNXIT')" class="btn m-1  btn-dark">IT</button>
        <button type="button"   (click)="refreshdata('NIFTYJR')" class="btn m-1  btn-primary">Next Nifty</button>
        <button type="button"   (click)="refreshdata('CNXAUTO')" class="btn m-1  btn-info">AUTO</button>
        <button type="button"   (click)="refreshdata('CNXMETAL')" class="btn m-1   btn-warning">Metal</button>
        <div class="btn-group">
          <button type="button" class="btn m-1 btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sector Wise
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let sector of sectorList" (click)="sectorSelect(sector)">{{sector}}</a>
          </div>
        </div>
        <div class="btn-group">
          <button type="button"  class="btn m-1 ">{{currentValue}}</button> 
      </div>
  </div>
    </div>

  <!-- End Example Code -->
</body>

<div class="container-fluid">
<router-outlet></router-outlet>
</div> 
  <hr>
<div class="row m-2">
  <div class="col-sm-6">
      <div class="card-body">
        <h4>Designed By Samba siva</h4>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="card-body">
        <button class='btn btn-link'><a href="https://livetradeapp1.onrender.com/getData?index=BANKNIFTY" target="_blank" rel="noopener noreferrer">Base Link</a></button>
    </div>
  </div>
</div>


