<div class="jumbotron jumbotron-fluid " *ngIf='rowData && rowData.length;else spinner'>
  <div class="row m-2">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <h4>SMA 20 & 50 & 200</h4>
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <input class="form-control form-control-lg mt-1" type="text" [(ngModel)]="searchQuery"
        (input)="onSearchInputChange()" placeholder="Search...">
    </div> 
    <div class="col-sm-3">
      <textarea class="form-control form-control-lg mt-1" type="text"  rows="1" [(ngModel)]="query"
         placeholder="Query Search..."></textarea>
         <p class="font-italic">search with res, keys:low,close,sma20,sma50,
          godFather,volume,RSI,MACD,HIGH52</p>
    </div> 
    
    <div  class="col-sm-2" role="group" >
      <button type="button" (click)=querySearch()  class="btn  m-1 btn-secondary">Query</button>
      <button type="button" (click)="nearSMA()"  class="btn m-1  btn-danger">SMA filter</button>
      <button type="button" (click)="onBtnExport()" class="btn m-1  btn-warning">CSV</button>
      </div>
    <!-- <div class="col-sm-3">
         <button class="btn btn-success mr-1" (click)="querySearch()">Query</button>
         <button class="btn btn-success mr-1" (click)="nearSMA()">filter</button>
         <button class="btn btn-warning" (click)="onBtnExport()"> CSV</button>
    </div>  -->
  </div>

  <div class="example-wrapper">
    <ag-grid-angular class="ag-theme-dark" style="height: 800px;width: auto" [rowData]="rowData"
      [suppressExcelExport]="true" [rowSelection]="rowSelection" [gridOptions]="gridOptions" [pagination]="true"
      [defaultColDef]="defaultColDef" [paginationPageSize]="paginationPageSize" [columnDefs]="colDefs">
    </ag-grid-angular>
  </div>
</div>

<ng-template #spinner>   
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-success" role="status">
     
    </div>
  </div>
</ng-template>

<div class="row m-2">
  <div class="col-sm-6">
      <div class="card-body">
        <h4>NOTE:</h4> GOD FATHER diff %
        <h4>If + means Above 200 SMA</h4>
        <h4>If - means Below 200 SMA</h4>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="card-body">
        <h4>NOTE:</h4> Daily after 2.30 % (20SMA %)
        <h4>Highest -% take entry for 3-5% target</h4>
      </div>
  </div>
</div>