<div class="jumbotron jumbotron-fluid ">
  <!-- The AG Grid component -->
<ul class="list-group m-3">
  <div class="list-group-item list-group-item-success"><h3>Bank Nifty <button class="btn btn-warning" (click)="fetchBanks()">  Refresh</button></h3></div>
  </ul>
    
 
<div class="card m-3" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-success" *ngIf="hdfcTrend && banksTrend >=2" >full Bullish Trend</li>
    <li class="list-group-item bg-danger" *ngIf="banksTrend >=2 && !hdfcTrend">Bearish Trend</li>
    <li class="list-group-item bg-danger" *ngIf="banksTrend <=2 && !hdfcTrend">Bearish Trend</li>
    <li class="list-group-item bg-primary">Above VWAP all Banks:  <span class="badge rounded-pill bg-danger">{{allbankTrands}}</span></li>
    <li class="list-group-item bg-info">TOP 5 Banks:  <span class="badge rounded-pill bg-success">{{banksTrend + hdfcTrend}}</span> </li>
  </ul>
</div>

<hr>
<div class="example-wrapper">
  <ag-grid-angular
  class="ag-theme-dark"
  style="height: 800px;width: auto"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [pagination]="true"
    [defaultColDef]="defaultColDef"
    [paginationPageSize]="paginationPageSize"
    [columnDefs]="colDefs">
  </ag-grid-angular>
  <hr>
  </div>
  </div>
  